<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kosmos</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>

    <body>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Спринты</li>
                <li class="breadcrumb-item"><a href="#">Недели</a></li>
                <li class="breadcrumb-item"><a href="#">Дни</a></li>
            </ol>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <form method="POST" action="/week_list">{% csrf_token %}
                        <input class="form-control" type="text" value="{{ selected.pk }}" name="selected" hidden>
                        {% if weekId != "" %}
                            <input type="text" value="{{ weekId }}" name="weekId" hidden />
                        {% endif %}
                        <button type="submit" class="btn btn-primary">>> Недели</button>
                    </form>
                </div>

                <div class="col-sm-3">
                    <h5>Список спринтов</h5>
                    <form method="POST" action="/sprint_list">{% csrf_token %}
                        <div class="form-group">
                            <label for="sprint">Выбрать спринт</label>
                            <select class="form-control" name="sprintId">
                                {% for sprint in sprints %}
                                    {% if sprint.pk == selected.pk %}
                                        <option value="{{ sprint.pk }}" selected>Дата начала: {{ sprint.date_begin }}</option>
                                    {% else %}
                                        <option value="{{ sprint.pk }}">Дата начала: {{ sprint.date_begin }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Выбрать</button>
                    </form>
                    <br>
                    {% if user.is_authenticated %}
                        <p> Создает дни, недели и связки "привычка/день" автоматически. </p>
                        <p> Перед созданием данных убедись, что создал привычки! И выбери нужный спринт </p>
                        <p> Чисткой базы занимайся сам) Так что не тыкай и не чисти, если не уверен. Создай один раз) </p>
                        
                        <form method="POST" action="/sprint_data">{% csrf_token %}
                            <input type="text" name="sprintId" hidden value="{{ selected.pk }}" />
                            <button type="submit" class="btn btn-primary">Создать данные</button>
                        </form>
                    {% endif %}
                    <br>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div clas="col-sm">
                            <h4>Дата окончания: {{ selected.date_end }}</h4>
                            <br>

                            <h4>Награда: {{ selected.reward }}</h4>
                        </div>

                        <div class="col-sm-1">
                        </div>

                        <div class="col-sm">
                            <!-- Habbits -->
                            <h4>Привычки</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Привычка</th>
                                        <th>Статистика</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for habbit in habbits %}
                                        <tr>
                                            <td></td>
                                            <td>{{ habbit.text }}</td>
                                            <td>{{ habbit.count_complete }}/63</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <h5>Цели</h5>
                    <form method="POST" action="/sprint_update">{% csrf_token %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Саморазвитие</th>
                                    <th>Профессиональные</th>
                                    <th>Отношения</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h6>
                                            {{ goals.0.data.0.text }}
                                            {% if goals.0.data.0.is_complete == 0 %}
                                                <input type="checkbox" name="g{{ goals.0.data.0.pk }}" />
                                            {% else %}
                                                <input type="checkbox" name="g{{ goals.0.data.0.pk }}" checked />
                                            {% endif %}
                                        </h6>
                                        
                                        <ul>
                                            {% for c1 in goals.0.childs %}
                                                <li>
                                                    {{ c1.data.0.text }}
                                                    {% if c1.data.0.is_complete == 0 %}
                                                        <input type="checkbox" name="g{{ c1.data.0.pk }}" />
                                                    {% else %}
                                                        <input type="checkbox" name="g{{ c1.data.0.pk }}" checked />
                                                    {% endif %}
                                        
                                                    
                                                    <ul>
                                                        {% for c2 in c1.childs %}
                                                            <li>
                                                                {{ c2.text }}
                                                                {% if c2.is_complete == 0 %}
                                                                    <input type="checkbox" name="g{{ c2.pk }}" />
                                                                {% else %}
                                                                    <input type="checkbox" name="g{{ c2.pk }}" checked />
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>

                                    <td>
                                        <h6>
                                            {{ goals.1.data.0.text }}
                                            {% if goals.1.data.0.is_complete == 0 %}
                                                <input type="checkbox" name="g{{ goals.1.data.0.pk }}" />
                                            {% else %}
                                                <input type="checkbox" name="g{{ goals.1.data.0.pk }}" checked />
                                            {% endif %}
                                        </h6>

                                        <ul>
                                            {% for c1 in goals.1.childs %}
                                                <li>
                                                    {{ c1.data.0.text }}
                                                    {% if c1.data.0.is_complete == 0 %}
                                                        <input type="checkbox" name="g{{ c1.data.0.pk }}" />
                                                    {% else %}
                                                        <input type="checkbox" name="g{{ c1.data.0.pk }}" checked />
                                                    {% endif %}

                                                    <ul>
                                                        {% for c2 in c1.childs %}
                                                            <li>
                                                                {{ c2.text }}
                                                                {% if c2.is_complete == 0 %}
                                                                    <input type="checkbox" name="g{{ c2.pk }}" />
                                                                {% else %}
                                                                    <input type="checkbox" name="g{{ c2.pk }}" checked />
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    
                                    <td>
                                        <h6>
                                            {{ goals.2.data.0.text }}
                                            {% if goals.2.data.0.is_complete == 0 %}
                                                <input type="checkbox" name="g{{ goals.2.data.0.pk }}" />
                                            {% else %}
                                                <input type="checkbox" name="g{{ goals.2.data.0.pk }}" checked />
                                            {% endif %}
                                        </h6>

                                        <ul>
                                            {% for c1 in goals.2.childs %}
                                                <li>
                                                    {{ c1.data.0.text }}
                                                    {% if c1.data.0.is_complete == 0 %}
                                                        <input type="checkbox" name="g{{ c1.data.0.pk }}" />
                                                    {% else %}
                                                        <input type="checkbox" name="g{{ c1.data.0.pk }}" checked />
                                                    {% endif %}

                                                    <ul>
                                                        {% for c2 in c1.childs %}
                                                            <li>
                                                                {{ c2.text }}
                                                                {% if c2.is_complete == 0 %}
                                                                    <input type="checkbox" name="g{{ c2.pk }}" />
                                                                {% else %}
                                                                    <input type="checkbox" name="g{{ c2.pk }}" checked />
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <input type="text" name="sprintId" hidden value="{{ selected.pk }}" />
                        <input type="text" name="weekId" hidden value="{{ weekId }}" />
                        
                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-primary">Обновить</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
