<!DOCTYPE html>
<html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Kosmos</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>

    <body>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Спринты</a></li>
                <li class="breadcrumb-item active" aria-current="page">Недели</li>
                <li class="breadcrumb-item"><a href="#">Дни</a></li>
            </ol>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <form method="POST" action="/day_list">{% csrf_token %}
                        <input type="text" value="{{ sprintId }}" name="sprintId" hidden />
                        <input type="text" value="{{ selected.pk }}" name="weekId" hidden />
                        <button type="submit" class="btn btn-primary">>> Дни</button>
                    </form>
                    <br>
                    <form method="POST" action="/sprint_list">{% csrf_token %}
                        <input type="text" value="{{ sprintId }}" name="sprintId" hidden />
                        <input type="text" value="{{ selected.pk }}" name="weekId" hidden />
                        <button type="submit" class="btn btn-primary"><< Спринты</button>
                    </form>
                </div>

                <div class="col-sm-3">
                    <h5>Список недель (9 недель)</h5>
                    <form method="POST" action="/week_list">{% csrf_token %}
                        <div class="form-group">
                            <label for="week">Выбрать неделю</label>
                            <select class="form-control" name="weekId">
                                {% for w in weeks %}
                                    {% if w == selected %}
                                        <option value="{{ w.pk }}" selected>Нд {{ w.week_number }}: {{ w.date_begin }}</option>
                                    {% else %}
                                        <option value="{{ w.pk }}">Нд {{ w.week_number }}: {{ w.date_begin }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <input type="text" value="{{ sprintId }}" name="sprintId" hidden />
                        <button type="submit" class="btn btn-primary">Выбрать</button>
                    </form>
                </div>
                <div class="col-sm">
                    <h4>Прогресс целей</h4>

                    <form method="POST" action="/week_update">{% csrf_token %}
                        <div class="form-group">
                            <label for="g1">1. {{ goals.0.text }}</label>
                            <textarea rows="3" cols="30" class="form-control" name="g1">{{ selected.goal1 }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="g2">2. {{ goals.1.text }}</label>
                            <textarea rows="3" cols="30" class="form-control" name="g2">{{ selected.goal2 }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="g3">3. {{ goals.2.text }}</label>
                            <textarea rows="3" cols="30" class="form-control" name="g3">{{ selected.goal3 }}</textarea>
                        </div>

                        <h4>Рефлексия</h4>

                        <div class="form-group">
                            <label for="ref1">Что я выучил?</label>
                            <textarea rows="3" cols="30" class="form-control" name="ref1">{{ selected.reflexy1 }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="ref2">Кому сказать спасибо</label>
                            <textarea rows="3" cols="30" class="form-control" name="ref2">{{ selected.reflexy2 }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="ref3">Что я могу улучшить?</label>
                            <textarea rows="3" cols="30" class="form-control" name="ref3">{{ selected.reflexy3 }}</textarea>
                        </div>

                        <input type="text" value="{{ sprintId }}" name="sprintId" hidden />
                        <input type="text" value="{{ selected.pk }}" name="weekId" hidden />

                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-primary">Обновить</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
